.Rproj.user
.Rhistory
.RData
.Ruserdata
sorensenLab/relatedToDlg2/design20210511_dlg2DegronConstructs/nterminal/~$oligoDesignWorkbookDlg2NterminalDegron.xlsx
sorensenLab/relatedToYbx1/design20210331_aidDegronYbx1/nterminal/~$primersOligosDesignWorkbookYbx1.xlsx
